.skillsPageContainer {
  height: 100vh;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  height: 5%;
  text-align: end;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsContainer {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skillsTitle {
  height: 25%;
  width: 50%;
  font-size: 3rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
}

.skillsList {
  height: 40%;
  width: 70%;
  font-weight: 100;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1.5rem;
}

@media screen and (max-width: 600px) {
  .skillsPageContainer {
    min-height: 100vh;
    justify-content: space-between;
  }

  .bottom {
    min-height: 90vh;
    align-items: space-between;
  }

  .skillsContainer {
    justify-content: space-evenly;
    min-height: 60vh;
  }
}
